{% extends "base.html" %}
{% block title %}BrainCAM{% endblock %}
{% block app_content %}
  <div class="container">
      <h1>Upload a file or choose an example output from the above menu. </h1>
      <hr>
      <form method="post" enctype="multipart/form-data" class="form-inline">
          <div class="form-group">
              <input type="file" name="file" class="btn btn-default">
          </div>
          <div class="form-group">
              <input type="submit" value="Submit", class="btn btn-default">
          </div>
      </form>
      <!--
      <hr>
      <a href="{{ url_for('show_ad_example') }}">Show an AD example</a>

      <br><a href="{{ url_for('show_cn_example') }}">Show an CN example</a>
    -->
  </div>
{% endblock %}



<!--
<!DOCTYPE html>
<html>
    <head>
        <title>BrainCAM</title>
    </head>
    <body>
        <div class="container">
            <h1>Upload a file or choose an example to see the output. </h1>
            <hr>
            <form method="post" enctype="multipart/form-data" class="form-inline">
                <div class="form-group">
                    <input type="file" name="file" class="btn btn-default">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit", class="btn btn-default">
                </div>
            </form>
            <hr>
            <a href="{{ url_for('show_ad_example') }}">Show an AD example</a>

            <br><a href="{{ url_for('show_cn_example') }}">Show an CN example</a>
        </div>
    </body>

</html>
-->
