{% extends "base.html" %}
{% block title %}BrainCAM{% endblock %}



{% block app_content %}
<div class="container">
    <h1>Diagnosis: {{ diagnosis }} (Score: {{ prediction }})</h1>
    <hr>
    Please wait while the image is loading.
    <!--
    <hr>
    <a href = "{{ url_for('index') }}" class="btn btn-default">Go Back</a>
  -->
</div>
<div id='divPlotly'></div>
<script type="text/javascript">
    var plotly_data = {{plot_json | safe}};
    Plotly.react('divPlotly', plotly_data.data, plotly_data.layout);
</script>

<br>
<ul>
  <li> The image on the left is the original PET scan. </li>
  <li> The image in the middle is the Saliency map. This is a map showing what part of the pet scan contributed to the model decision the most. </li>
  <li> The image on the right is simply the first two images plotted together to make the areas in the saliency maps easier to locate.  </li>
  <li> Using the slider you can slide through the PET scan and the saliency maps. </li>
</ul>
{% endblock %}


<!--
<!DOCTYPE html>
<html>
    <head>
          <title>BrainCAM</title>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
          <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
          <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <body>
          <div class="container">
              <h1>Diagnosis: {{ diagnosis }} (with probability {{ prediction }})</h1>
              <hr>
              <hr>
              <a href = "{{ url_for('index') }}" class="btn btn-default">Go Back</a>
          </div>
          <div id='divPlotly'></div>
          <script type="text/javascript">
              var plotly_data = {{plot_json | safe}};
              Plotly.react('divPlotly', plotly_data.data, plotly_data.layout);
          </script>
    </body>

</html>
-->
